<div class="page-header">
  <h1>Activity Feed</h1>
</div>

<% User.all.each do |user| %>
  <div class="row activity-item">
    <div class="col-md-12">
      <i class="fa fa-user"></i>
      <%= user.full_name %> was created on <%= user.created_at.strftime('%-m/%-d/%Y') %>
    </div>
  </div>
<% end %>

<% Company.all.each do |company| %>
  <div class="row activity-item">
    <div class="col-md-12">
      <i class="fa fa-building-o"></i>
      <%= company.name %> was created by
      <%= company.created_by.full_name %>
      on <%= company.created_at.strftime('%-m/%-d/%Y') %>
    </div>
  </div>
<% end %>

<% Photo.all.each do |photo| %>
  <div class="row activity-item">
    <div class="col-md-12">
      <i class="fa fa-picture-o"></i>
      <%= photo.created_by.full_name %> uploaded a photo
      on <%= photo.published_at.strftime('%-m/%-d/%Y') %>
      <blockquote>
        <%= image_tag photo.url %>
      </blockquote>
    </div>
  </div>
<% end %>
